body {
  display: flex;
  background-color: rgb(72, 70, 70);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trackList {
  color: aqua;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid black;
  /*justify-content: center;*/
}
.musicPlayList {
  margin-bottom: 50px;
}
.currentAndTotalTime {
  color: aliceblue;
}
#progessBar {
  width: 500px;
  height: 5px;
  background-color: rgb(219, 224, 229);
}
#CurrentProgress {
  width: 0%;
  height: 100%;
  background-color: red;
}
.musicPlayer {
  display: flex;
  flex-direction: row;
}
.control {
  font-size: 30px;
  margin: 20px 40px;
  cursor: pointer;
  user-select: none;
  color: aqua;
}
.pauseButton {
  display: none;
}
.musicPlayer .pauseButton {
  display: none !important;
}
